
[Unit]
Description=Téléchargement des nouveaux services Optimus disponibles

[Service]
Type=oneshot
User=root
ExecStart=/etc/optimus/optimus-init/services_downloader.sh
StandardError=journal
WorkingDirectory=/srv/services